<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebLogViewver.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebLogViewver.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<WebLogViewver.Settings1>
			<setting name="default_configFileName" serializeAs="String">
				<value>config.csv</value>
			</setting>
		</WebLogViewver.Settings1>
	</userSettings>
	<applicationSettings>
		<WebLogViewver.Settings1>
			<setting name="default_directory" serializeAs="String">
				<value>U:\dev\web\track</value>
			</setting>
		</WebLogViewver.Settings1>
	</applicationSettings>
</configuration>